@model HomeDetailsViewModel

@{
    ViewBag.Title = "Employee Details";
    var PhotoPath = "~/Images/" + (Model.Emp.PhotoPath ?? "noimage.jpg");
}


<div class="row justify-content-center m-3">

    <div class=" col-sm-8">
        <div class="card">
            <div class="card-header">
                <h3> @Model.Emp.Name</h3>
            </div>
            <div class="card-body text-center">
                <img asp-append-version="true" class="card-img-top" src="@PhotoPath" alt=@string.Format($"{@Model.Emp.Name}-no image") />
                <h4>Employee ID: @Model.Emp.Id</h4>
                <h4>Email: @Model.Emp.Email</h4>
                <h4>Department: @Model.Emp.Department</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
                <a asp-controller="home" asp-action="edit" asp-route-id="@Model.Emp.Id" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
         </div>
    </div>
</div>             